<h1>Detalle de libro</h1>

<!-- {{ object }} -->

<p>{{ libro.id }}</p>
<p>{{ libro.titulo }}</p>
<p>{{ libro.fecha }}</p>
<p>---Many to Many-------------------------------</p>
<ul>
    
    {% for autor in libro.autores.all %}
        <li>{{autor}}</li>    
    {% endfor %}
        
</ul>

<p>--------------------Agregar Autores ----------------------------</p>

<form action="" class="post">
    <input type="text" name="" id="" placeholder="Agregar autor...">
    <button type="submit">Gardar</button>
</form>

